.super-mario {
    width: 100px;
    position: absolute;
    top: 170px;
    left: 150px;
  }
  
  .goomba {
    width: 70px;
    position: absolute;
    top: 330px;
    left: 200px;
  }
  
  .baloon {
    margin-left: 500px;
    position: absolute;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    left: 530px;
    top: 130px;
  }
  
  .bowser {
    width: 300px;
    position: absolute;
    margin-left: 800px;
    top: 200px;
  }